################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

x64
*.user
*.pdb
*.db
*.opendb
Debug
Release
*.suo
ipch